html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  font-size: 14;
}

h1 {
  margin: 0;
  padding: 24px 12px;
}

input,
button {
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 46px;
  margin-right: 4px;
}

input {
  padding: 4px 8px;
  text-align: right;
}

button {
  margin-left: 12px;
}

#sidebar {
  position: absolute;
  height: 100vh;
  width: 300px;
  border-right: 1px solid #ddd;
}

.footprint-name {
  font-size: 16px;
  padding: 8px 12px;
  text-align: left;
  margin-bottom: 24px;
  width: calc(100% - 24px);
  margin-left: 12px;
  box-sizing: border-box;
}

#sidebar .actions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ddd;
  margin-bottom: 24px;
}

#sidebar .actions li {
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #eee;
  padding: 8px 8px;
  cursor: pointer;
}

#sidebar .links {
  margin-top: 24px;
  text-align: center;
}

.mdi-icon {
  vertical-align: middle;
  margin-right: 8px;
}

#main {
  position: absolute;
  top: 0;
  right: 0;
  left: 300px;
  bottom: 0;
}

#bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 48px;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 70% 50%;
  background-size: contain;
}

#canvas {
  height: 100vh;
  width: 100vw;
  display: block;
}

#null-state {
  text-align: center;
  margin-top: 200px;
}

#scale-bar {
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 12px;
  background: #ccc;
  border-radius: 4px;
  z-index: 1;
}

#pad-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 12px;
  box-sizing: border-box;
  height: 300px;
}

.input-group {
  margin-bottom: 12px;
  font-size: 14px;
}

.input-group label {
  font-size: 14px;
  min-width: 92px;
  display: inline-block;
}

.input-group input {
  width: 120px;
}

.input-group .units {
  margin-left: 4px;
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 24px 8px;
}

.hotkey {
  float: right;
  color: #999;
  font-weight: 600;
}
